ul {
    background-color: #999;
    border-radius: 10px
}

ul li a {
    background-color: #666;
    border-radius: 7px;
    transition: background-color 600ms;
    color: black;
    text-decoration: none;
}

ul li a:hover {
    background-color: #bbb;
    text-decoration: none;
}