html body ul {
    background-color: darkgray;
    border-radius: 1pc
}

html body ul li {
    background-color: brown;
    color: darkviolet;
    border-radius: 6px;
    transition: background-color 0.3s;
}

html body ul li a {
    transition: color 0.3s;
    color: darkblue;
    text-decoration: none;
}

html body ul li:hover {
    background-color: orange;
    color: aqua;
}

html body a.backmainblog {
    transition: color 0.6s;
    color: purple;
    border-radius: 6px;
    text-decoration: none;
    background-color: pink;
    transition: background-color 0.6s;
}

html body a.backmainblog:hover {
    color: darkgreen;
    background-color: coral
}

html body {
    background-color: skyblue
}

html body h1 {
    transition: color 0.6s;
    color: green
}

html body h2 {
    transition: color 0.6s;
    color: green
}

html body h1:hover {
    color: blue
}

html body h2:hover {
    color: blue
}